// FONTS
$default-font: 'Roboto', sans-serif;
// font sizes
$title-font-size: 32px;
$subtitle-font-size: 24px;
$default-font-size: 16px;

// COLOR PALETTE
$off-white: #f9f9f9;
$light-black: #0d0d0d;
$light-pink: #D4C3CA;
$bright-pink: #E60B62;
$bright-yellow: #F4C303;
$bright-blue: #4BC0E5;
$bright-purple: #823183;
$bright-green: #83BB26;
$darker-blue: #1C6F8E;
$darker-yellow: #D7963E;
$darker-purple: #5F2260;
$darker-green: #3E762F;


// BREAKPOINTS 
$breakpoint-ipad-screen: 1024px;
$breakpoint-half-screen: 768px;
$breakpoint-phone-screen: 500px;
$breakpoint-smaller-phone: 380px;